div.a{
	width: 100px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	background: #deaddead;
	border: 2px solid #ff0000;
	/*transform: rotate(30deg);*/
}
div.b{
	width: 100px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	background: #ceedceed;
	border: 2px solid #00ff00;
	/*transform: scale(1.5,1.5);*/
}
div.c{
	width: 100px;
	height: 50px;
	margin: 5px;
	line-height: 50px;
	text-align: center;
	border-radius: 2px;
	background: #feedfeed;
	border: 2px solid #0000ff;
	transform: skew(30deg,10deg);
}

